.recipes {
  display: flex;
  flex-direction: column;
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  color: #ffffff;
}
.recipes__title {
  max-width: 580px;
  padding-top: 100px;
  padding-left: 80px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}
.recipes__subtitle {
  max-width: 438px;
  padding-top: 24px;
  padding-left: 80px;
  font-family: "Noto Serif", "times new roman", serif;
  font-size: 20px;
  line-height: 30px;
}
.recipes__videos {
  height: 273px;
  width: 1000px;
  margin: 80px auto 215px;
  display: flex;
  padding: 0;
  box-sizing: border-box;
}
.recipes__video-item {
  display: flex;
  width: 100%;
  justify-content: space-between;
  column-gap: 40px;
}

.recipes__iframe {
  width: 480px;
  height: 200px;
  border: 0;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  height: 20px;
  margin-top: 24px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
